@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <ul>
        @foreach (Manufacturer item in ViewBag.Manufacturers)
        {
            <li>
                <a href="/home/manufacturer/@item.ManufacturerId">@item.ManufacturerName </a>
            </li>
        }
    </ul>
</div>