<a href="/auth">Auth</a>  <br/>
<a href="/auth/register">Register</a> <br/>
<a href="/auth/login">Login</a>  <br/>
<a href="/auth/logout">Logout</a>  <br/>
<a href="/auth/change">Change Password</a>
<a href="/dashboard">Dashboard</a>