@model Product;
@inject IConfiguration Config;

<form method="post">
    <div>
        <label asp-for="ProductName">Name</label>
        <div>
            <input type="text" asp-for="ProductName" required=""/>
        </div>

    </div>
    
    <div>
        <img id="img" src="@Config["UrlService"]/images/@Model.ImageUrl" alt="No Image" width="100"/>
        <input type="hidden" asp-for="ImageUrl"/>
    </div>
    <div>
        <button>Delete</button>
    </div>
</form>

@section Scripts
{
    <script>
  
    </script>
}