<form method="post">
    <div>
        <label for="">Amount</label>
        <div>
            <input type="number" name="amount"/>
        </div>
    </div>
    <div>
        <label for="">Phone</label>
        <div>
            <input type="number" name="mobile"/>
        </div>
    </div>
    <div>
        <label for="">Email</label>
        <div>
            <input type="email" name="email"/>
        </div>
    </div>
    <div>
        <label for="">FirstName</label>
        <div>
            <input type="text" name="firstName"/>
        </div>
    </div>
    <div>
        <label for="">LastName</label>
        <div>
            <input type="text" name="LastName"/>
        </div>
    </div>
    <div>
        <label for="">Address</label>
        <div>
            <input type="text" name="address"/>
        </div>
    </div>
    <div>
        <label for="">City</label>
        <div>
            <input type="text" name="city"/>
        </div>
    </div>
    <div>
        <button>
            Checkout
        </button>
    </div>
</form>