@model Category

<form method="post">
    <input type="number" asp-for="Id" placeholder="Enter Id">
    <input type="text" asp-for="Name" placeholder="Enter Name">
    <button type="submit">Save Changes</button>
</form>