@model Member;

<div asp-validation-summary="All"></div>
<form method="post">
    <div>
        <label asp-for="GivenName">
            GivenName
        </label>
        <div>
            <input type="text" asp-for="GivenName" required=""/>
        </div>
    </div>
    <div>
        <label asp-for="SurName">
            SurName
        </label>
        <div>
            <input type="text" asp-for="SurName" required=""/>
        </div>
    </div>
    <div>
        <label asp-for="Email">
            Email
        </label>
        <div>
            <input type="text" asp-for="Email" required=""/>
        </div>
    </div>
    <div>
        <label asp-for="Password">
            Password
        </label>
        <div>
            <input type="text" asp-for="Password" required=""/>
        </div>
    </div>

    <div>
      <button>Register</button>
    </div>
</form>