@model WebAppStore.Model.ChangeModel;

<div asp-validation-summary="All"></div>
<form method="post">
    <div>
        <label asp-for="OldPassword">OldPassword</label>
        <input type="text" asp-for="OldPassword"/>
    </div>
    <div>
        <label asp-for="NewPassword">NewPassword</label>
        <input type="password" asp-for="NewPassword"/>
    </div>
    <div>
        <button>Change</button>
    </div>
</form>