@TempData["Msg"];

<div asp-validation-summary="All"></div>
<form method="post">
    <div>
        <label for="token">Your OTP</label>
        <input type="text" name="token" id="token" placeholder="Enter your OPT"/>
    </div>
    <div>
        <button>Confirm</button>
    </div>
</form>