@model WebAppStore.Model.LoginModel;

<div asp-validation-summary="All"></div>
<form method="post">

    <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Enter your Eemail"/>
    </div>
    <div>
        <button>Forgot</button>
    </div>
</form>