@model WebAppStore.Model.ResetPassword;

<div asp-validation-summary="All"></div>
<form method="post">
    <div>
        <label asp-for="Password">Your password</label>
        <input type="password" asp-for="Password"  placeholder="Enter your new Password"/>
    </div>
    <div>
        <button>Reset Password</button>
    </div>
</form>