@if (Model != null)
{
    <img src="https://localhost:7070/images//@Model" width="100" alt=""/>
}

<form enctype="multipart/form-data" method="post">
    <input type="file" name="file"/>
    <button>Upload</button>
</form>