<div id="rs"></div>

<i class="fa-solid fa-image"></i>
<input type="file" id="file" class="d-none" accept="image/*"/>

@section Scripts
{
    <script>
        $('.fa-image').click(function(){
            $("#file").click();
        })
        
        $("#file").change(function () {
            const formData = new FormData();
            const file = this.files[0];
            formData.append("file", file,file.name);
              $.ajax({
              url:"/upload/ajax",
              method:"post",
              data:formData,
              processData:false,
              contentType:false,
              success: function (d){
                  $("#rs").html(`<img src="/images/${d['imageUrl']}"  width="100" alt="${d['originalName']}">`)
                  }
          })
        })
    </script>
}