<div>
    <ul>
        <li>
            <a href="/upload/multiple">Upload Multiple</a>
        </li>
        <li>
            <a href="/upload/folder">Upload Folder</a>
        </li>
        <li>
            <a href="/upload/ajax">Upload Ajax</a>
        </li>
        <li>
            <a href="/upload/draganddrop">Upload Drag And Drop</a>
        </li>

        <li>
            <a href="/upload/clipboard">Clipboard</a>
        </li>
    </ul>
</div>