@if (Model != null)
{
    <img src="/images/@Model" width="150" alt=""/>
}

<form method="post">
    <div>
        <div class="col-10">
            <input class="form-control" type="url" name="url" id="url"/>
        </div>
    </div>
    <div>
        <button class="btn btn-primary">Upload</button>
    </div>
</form>