@model WebAppChat.Model.Login
@inject IViewLocalizer Localizer

<style>
    .validation-summary-errors {
        color: red;
    }

    span.field-validation-error {
        color: red;
    }
</style>
<div asp-validation-summary="All"></div>
<form method="post">
    <div class="row mb-1">
        <label class="form-label col-2" asp-for="Eml"></label>
        <div class="col-10">
            <input class="form-control" asp-for="Eml" placeholder="@Localizer["EnterEmail"]"/>
            <span asp-validation-for="Eml"></span>
        </div>
    </div>
    <div class="row mb-1">
        <label class="form-label col-2" asp-for="Pwd"></label>
        <div class="col-10">
            <input class="form-control" asp-for="Pwd" placeholder="@Localizer["EnterPassword"]"/>
            <span asp-validation-for="Pwd"></span>
        </div>
    </div>
    <div class="row mb-1">
        <label class="form-label col-2" asp-for="Remember"></label>
        <div class="col-10">
            <input class="form-check" asp-for="Remember" type="checkbox"/>
        </div>
    </div>
    <div>
        <button class="offset-2 btn btn-primary">@Localizer["Login"]</button>
        <a class="btn btn-outline-primary" href="/auth/register">
            @Localizer["Register"]
        </a>
    </div>
</form>