@model List<Round>

<a href="/round/add">Add</a>
<table class="table table-bordered">
    <thead class="table-dark">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Command</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr v="@item.RoundId">
            <td>@item.RoundId</td>
            <td>@item.RoundName</td>
            <td>
                <a class="btn btn-outline-primary" href="/round/edit/@item.RoundId">Edit</a>
                <span class="del btn btn-outline-primary">Delete</span>
            </td>
        </tr>
    }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="delModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="/round/delete" class="modal-content" method="post">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure delete</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="id"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(".del").click(function (){
        const id = $(this).closest('tr').attr('v');
        console.log({id});
        $("#delModal input[name='id']").val(id);
        $("#delModal").modal('show');
    })
</script>