@model List<WebAppFruitable.Model.RoleChecked>

<table class="table table-bordered">
    <thead class="table-dark">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Checked</th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@item.RoleId</td>
                <td>@item.RoleName</td>
                <td>
                    <input
                        class="chk"
                        type="checkbox"
                        value="@item.RoleId" @(item.Checked == 1 ? "checked" : "")/>
                </td>
            </tr>
        }
    }
    </tbody>
</table>

@section Scripts
{
    <script>
        $("input.chk").click(function () {
        const roleId = $(this).val();
        const memberId = `@(ViewContext.RouteData.Values["memberId"])`;
         $.post('/dashboard/member/roles',{roleId:roleId,'memberId':memberId}, (data)=>{
         console.log(data)
        })
        });
    </script>
}