<div>
    <form method="post">
        <div class="row mb-1">
            <label class="col-2">Name</label>
            <div class="col-10">
                <input class="form-control" type="text" name="name" id="name"/>
            </div>
        </div>
        <div >
            <button class="offset-2 btn btn-primary">
                Add Club
            </button>
        </div>
    </form>
</div>