<div asp-validation-summary="All"></div>
<form enctype="multipart/form-data" method="post">
    <div>
        <label for="file">CSV</label>
        <div>
            <input type="file" accept=".csv" name="file"/>
        </div>
    </div>
    <div>
        <button>Import</button>
    </div>
</form>