<div>
    <form method="post" enctype="multipart/form-data">
        <div class="row mb-1">
            <label class="col-2">Name</label>
            <div class="col-10">
                <input class="form-control" type="text" name="ClubName" id="ClubName"/>
            </div>
        </div>

        <div class="row mb-1">
            <label class="col-2">Logo</label>
            <div class="col-10">
                <input class="form-control" type="file" accept="image/*" name="file" id="logo"/>
            </div>
        </div>
        <div >
            <button class="offset-2 btn btn-primary">
                Add team
            </button>
        </div>
    </form>
</div>