@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/css/site.css">
<a href="/home/multiple">Multiple</a>
<div class="ui-widget">
    <label for="cat">Birds: </label>
    <input id="cat">
</div>

<div id="result" class="mt-2"></div>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
<script>
  $( function() {
    function log( message ) {
      $( "<div>" ).text( message ).prependTo( "#log" );
      $( "#log" ).scrollTop( 0 );
    }

    $("#cat").autocomplete({
      source: function (request, response) {
        $.ajax({
          url: "/home/loaddata",
          dataType: "json",
          data: {
            q: request.term
          },
          success: function (data) {
            console.log(data);
            response(data);
          }
        });
      },
      minLength: 2,
      select: function(event, ui) {
        $(result).html("Result: Label <b>" + ui.item.label + "</b>, Value: <b>" + ui.item.value + "</b>, Id: <b>" + ui.item.id + "</b>");
      },
      open: function () {
        $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
      },
      close: function () {
        $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
      }
    });
  });
  </script>