@model IEnumerable<Role>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/dashboard">Library</a></li>
        <li class="breadcrumb-item active" aria-current="page">Role</li>
    </ol>
</nav>

<table class="table table-dark">
    <thead class="table-dark">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Command</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.RoleId</td>
            <td>@item.RoleName</td>
            <td>
                <a href="/dashboard/role/accesses/@item.RoleId">Accesses</a>
            </td>
        </tr>
    }
    </tbody>
</table>