<h2>Welcome @User.Identity?.Name</h2>

<form name="frm" method="post">
    <input type="hidden" name="userId"/>
    <input class="form-control" type="text" placeholder="Enter your Message" name="msg"/>
</form>
<ul id="rs">
    
</ul>