@model IEnumerable<WebAppChat.Model.Member>

<h2>Welcome @User.Identity?.Name</h2>
<a href="/auth/logout">Logout</a>

<div class="row">
    <div class="col-3">
        <ul id="members">
            @foreach (var item in Model)
            {
                <li class="info" val="@item.MemberId">
                    @item.GivenName
                    <span class="status">@item.IsOnline</span>
                    <span class="cnt"></span>
                </li>
            }
        </ul>
    </div>
    <div class="col-9">
        <h2 id="info">

        </h2>
        <form id="frm" method="post">
            <input type="hidden" name="userId"/>
            <input class="form-control" type="text" placeholder="Enter your Message" name="msg" disabled/>
        </form>

        <ul id="rs"></ul>
    </div>
</div>